.site-header-top-cont {
  position: relative;
  width: 100%;
  height: 2cm;
  background: #050859;
  z-index: 50;
}
.site-header-top-cont .site-header-top {
  position: relative;
  display: flex;
  height: 100%;
  margin: auto;
}
@media (min-width: 0px) {
  .site-header-top-cont .site-header-top {
    width: 100%;
  }
}
@media (min-width: 1025px) {
  .site-header-top-cont .site-header-top {
    width: 85%;
  }
}
@media (min-width: 1921px) {
  .site-header-top-cont .site-header-top {
    width: 1600px;
  }
}
.site-header-top-cont .site-header-top .site-header-top-left-cont {
  position: relative;
  width: 33%;
  height: 100%;
}
.site-header-top-cont .site-header-top .site-header-top-left-cont .site-header-top-left {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.site-header-top-cont .site-header-top .site-header-top-left-cont .site-header-top-left .menu-items {
  position: relative;
  width: 2cm;
  height: 40%;
  margin: auto 0;
}
.site-header-top-cont .site-header-top .site-header-top-left-cont .site-header-top-left .menu-items .menu-item {
  position: absolute;
  width: 1.1cm;
  height: 2px;
  background: white;
}
.site-header-top-cont .site-header-top .site-header-top-left-cont .site-header-top-left .menu-items .menu-item:nth-child(1) {
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.site-header-top-cont .site-header-top .site-header-top-left-cont .site-header-top-left .menu-items .menu-item:nth-child(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.site-header-top-cont .site-header-top .site-header-top-left-cont .site-header-top-left .menu-items .menu-item:nth-child(3) {
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.site-header-top-cont .site-header-top .site-header-top-center-cont {
  width: 33%;
}
.site-header-top-cont .site-header-top .site-header-top-center-cont .site-header-top-center {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.site-header-top-cont .site-header-top .site-header-top-center-cont .site-header-top-center .logo-items {
  position: relative;
  width: 100%;
  height: 100%;
}
.site-header-top-cont .site-header-top .site-header-top-center-cont .site-header-top-center .logo-items .logo-item {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2.5cm;
}
.site-header-top-cont .site-header-top .site-header-top-right-cont {
  position: relative;
  width: 33%;
  height: 100%;
}
.site-header-top-cont .site-header-top .site-header-top-right-cont .site-header-top-right {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.site-header-top-cont .site-header-top .site-header-top-right-cont .site-header-top-right .search-items {
  position: relative;
  width: 2cm;
  height: 50%;
  margin-left: auto;
}
.site-header-top-cont .site-header-top .site-header-top-right-cont .site-header-top-right .search-items .search-item {
  position: absolute;
  width: 1cm;
  right: 0;
}

.site-header-bottom-cont {
  position: absolute;
  z-index: 49;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: none;
  opacity: 0;
}
.site-header-bottom-cont .site-header-bottom {
  position: relative;
  width: 100%;
  height: 100vh;
}
.site-header-bottom-cont .site-header-bottom .site-header-bottom-fg-cont {
  position: relative;
  z-index: 49;
  width: 90%;
  height: 95%;
  margin: auto;
  padding-top: 3cm;
}
@media (min-width: 0px) {
  .site-header-bottom-cont .site-header-bottom .site-header-bottom-fg-cont {
    width: 100%;
  }
}
@media (min-width: 1025px) {
  .site-header-bottom-cont .site-header-bottom .site-header-bottom-fg-cont {
    width: 85%;
  }
}
@media (min-width: 1921px) {
  .site-header-bottom-cont .site-header-bottom .site-header-bottom-fg-cont {
    width: 1600px;
  }
}
.site-header-bottom-cont .site-header-bottom .site-header-bottom-fg-cont .menu-header-container {
  position: relative;
  width: 49%;
  display: none;
  opacity: 0;
}
.site-header-bottom-cont .site-header-bottom .site-header-bottom-fg-cont .menu-header-container ul {
  padding: unset;
  list-style-type: none;
  margin: unset;
}
.site-header-bottom-cont .site-header-bottom .site-header-bottom-fg-cont .menu-header-container ul li {
  position: relative;
  display: flex;
  height: 2cm;
  border-bottom: 1px solid gray;
}
.site-header-bottom-cont .site-header-bottom .site-header-bottom-fg-cont .menu-header-container ul li a {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: unset;
  color: black;
  font-size: 1.25em;
  padding-left: 20px;
}
.site-header-bottom-cont .site-header-bottom .site-header-bottom-fg-cont .menu-header-container ul li a:hover {
  background: rgba(5, 8, 89, 0.1);
  color: #050859;
  font-size: 1.4em;
  font-weight: 700;
}
.site-header-bottom-cont .site-header-bottom .site-header-bottom-bg-cont {
  position: absolute;
  top: 0;
  z-index: 48;
  width: 55%;
  height: 100vh;
  background: white;
}/*# sourceMappingURL=agac.css.map */